<table class="table">
    <tr>
        <th>Mã sách</th>
        <th>Tên sách</th>
        <th>Mã tác giả</th>
        <th>Gía sách</th>
        <th>Số lượng</th>
        <th>Số sao</th>
        <th>Mô tả</th>
        <th>Trạng thái</th>
        <th>Mã danh mục</th>
    </tr>
    {% for i in ds_products %}
    <tr>
        {% if i[0] == id_sach %}
        <form action="/updated_product?id_sach={{i[0]}}" method="POST">
            <td>{{i[0]}}</td>

            <td><input style="width: 150px;" type="text" value="{{i[1]}}" name="ten_sach"></td>
            <td><select name='id_tacgia'>
                    {% for i in ds_products_author %}
                    <option value="{{i[0]}}">{{i[1]}}</option>
                    {% endfor %}
                </select></td>
            <td><input style="width: 70px;" type="text" value="{{i[3]}}" name="gia_sach"></td>
            <td><input style="width: 70px;" type="text" value="{{i[4]}}" name="soluong"></td>
            <td><input style="width: 70px;" type="text" value="{{i[5]}}" name="so_sao"></td>
            <td><input style="width: 250px;" type="text" value="{{i[6]}}" name="mota"></td>
            <td><input style="width: 70px;" type="text" value="{{i[7]}}" name="trang_thai"></td>
            <td><select name='id_dm'>
                    {% for i in ds_products_categories %}
                    <option value="{{i[0]}}">{{i[1]}}</option>
                    {% endfor %}
                </select></td>
            <td>
                <a href="/admin" class="btn btn-danger">Hủy</a>
                <input type="submit" class="btn btn-primary" value="Cập nhật">
            </td>
        </form>
        {% else %} {% for x in i %}
        <td>{{x}}</td>
        {% endfor %}
        <td>
            <a href="/delete_product?id_sach={{i[0]}}" class="btn btn-danger">Xóa</a>
            <a href="?id_sach={{i[0]}}" class="btn btn-primary">Sửa</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>