{% include 'admin_head.html' %}
<style>
    .table td {
        padding: 5px;
    }
</style>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include 'admin_menu.html' %}
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>DataTables</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">DataTables</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">DataTable with minimal features & hover style</h3>
                                    <a class="float-sm-right" data-toggle="modal" data-target="#createRole" style="cursor: pointer">Create new role object</a>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Mã danh mục</th>
                                                <th>Tên danh mục</th>
                                                <th>trạng thái</th>
                                                <th><i class="far fa-keyboard"></i></th>

                                            </tr>
                                        </thead>
                                        {% for i in ds_products_categories %}
                                        <tbody>
                                            <tr>
                                                {% if i[0] == id_dm %}
                                                <form action="/updated_category?id_dm={{i[0]}}" enctype="multipart/form-data" method="POST">
                                                    <td>{{i[0]}}</td>
                                                    <td><input type="text" value="{{i[1]}}" name="ten_dm"></td>
                                                    <td><input type="text" value="{{i[3]}}" name="trang_thai"></td>
                                                    <td>
                                                        <a href="/admin/category"><i class="far fa-times-circle"></i></a>
                                                        <input type="submit" class="btn btn-primary" value="Cập nhật">
                                                    </td>
                                                </form>
                                                {% else %} {% for x in i %}
                                                <td>{{x}}</td>
                                                {% endfor %}
                                                <td>
                                                    <a href="/delete_category?id_dm={{i[0]}}"><i class="far fa-times-circle"></i></a>
                                                    <a href="?id_dm={{i[0]}}"><i class="far fa-edit"></i></a>
                                                </td>
                                                {% endif %}
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <div class="modal fade bd-example-modal-lg" id="createRole" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content col-sm-10" style="margin: 0 auto">


                    <div class="modal-body">

                        <form action="/inserted_category" enctype="multipart/form-data" method="POST">

                            <div class="card-body">

                                <div class="form-group">

                                    <label>Nhập vào tên danh mục:</label>
                                    <input class="form-control" type="text" name="ten_dm"> </div>



                                <div class="text-center">
                                    <button type="submit" name="insert" class="btn btn-primary">Create</button>
                                    <a href="/admin/category" class="btn btn-danger">Hủy</a>
                                </div>
                        </form>



                        </div>

                    </div>
                </div>
            </div>

        </div>

        {% include 'admin_footer.html' %}
    </div>
</body>