<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Index</title>
</head>

<body>
    <a href="/insert_actor" class="btn btn-success">Thêm tác giả</a>
    <table class="table">
        <tr>
            <th>Mã tác giả</th>
            <th>Tên tác giả</th>
            <th>Ảnh tác giả</th>
            <th>Giới thiệu</th>
        </tr>
        {% for i in ds %}
        <tr>
            {% if i[0] == id_tacgia %}
            <form action="/updated?id_tacgia={{i[0]}}" method="POST">
                <td>{{i[0]}}</td>
                <td><input type="text" value="{{i[1]}}" name="ten_tacgia"></td>
                <td><input class="form-control" type="file" value="{{i[2]}}" name="avt_tacgia" multiple=""></td>
                <td><input type="text" value="{{i[3]}}" name="gioithieu"></td>
                <td>
                    <a href="/" class="btn btn-danger">Hủy</a>
                    <input type="submit" class="btn btn-primary" value="Cập nhật">
                </td>
            </form>
            {% else %} {% for x in i %}
            <td>{{x}}</td>
            {% endfor %}
            <td>
                <a href="/delete?id_tacgia={{i[0]}}" class="btn btn-danger">Xóa</a>
                <a href="?id_tacgia={{i[0]}}" class="btn btn-primary">Sửa</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>