<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d3fa3cecaa.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
       <i class='fas fa-user-secret' style='margin: 100px 5px 0 490px;font-size:9em;color:#000'></i><br>
            <h1 style='font-size:30px;margin:20px 0;width:100%;text-align:center;'>Welcome !</h1><br>
            <p style='text-align:center'>Select the website you want to go to:</p>
            <a class='btn btn-secondary' href='category' style='margin:40px;'>Quản Lý Danh Mục <i class='fas fa-calendar-week'></i></a>
            <a class='btn btn-success' href='author' style='margin:40px;'>Quản Lý Tác giả <i class='fas fa-desktop'></i></a>
            <a class='btn btn-warning' href='product' style='margin:40px;'>Quản Lý Sách<i class='fab fa-product-hunt'></i></a>
            <a class='btn btn-primary' href='img_sach' style='margin:40px;'>Quản Lý Ảnh <i class='fab fa-bandcamp'></i></a>
</body>

</html>