<section class="sectional header">
    <div class="container-fluid">
        <div class="logo">
            <a href="/"><img src="static/imgs/logo1.png" style="max-height: 50px;"></a>
        </div>
        <div class="right">
            <ul class="menu">
                <li><a href="/" style="color: #f86d72;border-bottom: 1px solid #f86d72">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li class="dropdows">
                    <a href="/shop">Categorys<i class="fas fa-chevron-down" style="margin-left: 5px;font-size: 0.6em;"></i></a>
                    <div class="dropdows-menu">
                        <div class="dropdows-item"><a href="/shop">Calendars</a></div>
                        <div class="dropdows-item"><a href="/shop">Diary</a></div>
                    </div>
                </li>
            </ul>
            <ul class="menu_seach">
                <li><a href="/shop"><i class="fas fa-search"></i></a></li>
                <li><a href=""><i class="far fa-heart"></i></a></li>
                <li><a href="/login"><i class="far fa-user-circle"></i></a></li>
                <li><a href="/maps"><i class="fas fa-globe-asia"></i></a></li>
            </ul>
        </div>
    </div>
</section>