<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BOOTIN</title>
    <script src="https://kit.fontawesome.com/d3fa3cecaa.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/libs/bootstrapv4.5/css/bootstrap.css">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/libs/bootstrapv4.5/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/shop.css">
</head>

<body>
    <section class="sectional header">
        <div class="container-fluid">
            <div class="logo">
                <a href="/"><img src="../static/imgs/logo1.png"></a>
            </div>
            <div class="right">
                <ul class="menu">
                    <li><a href="#" style="color: #f86d72;border-bottom: 1px solid #f86d72">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Blog</a></li>
                    <li class="dropdows">
                        <a href="#">Categorys<i class="fas fa-chevron-down" style="margin-left: 5px;font-size: 0.6em;"></i></a>
                        <div class="dropdows-menu">
                            <div class="dropdows-item"><a href="#">Calendars</a></div>
                            <div class="dropdows-item"><a href="#">Diary</a></div>
                        </div>
                    </li>
                </ul>
                <ul class="menu_seach">
                    <li><a href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="#"><i class="far fa-heart"></i></a></li>
                    <li><a href="#"><i class="far fa-user-circle"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-bag"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="sectional slide1">
        <div class="container-fluid">
            <div class="row">
                <div class="breadcrumbb">
                    <img src="../static/imgs/Breadcumd.jpg" />
                    <div class="breadcrumb_content">
                        <h1>Shop</h1>
                        <a href="/">Home</a>
                        <span class="delimiter">
                            / Shop
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sectional slide2">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 slide2_left">
                    <div class="input-group mb-3">
                        <form action="/shop" method="GET" enctype="multipart/form-data">
                            <input type="text" class="form-control input_search" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2" name="search">
                            <div class="input-group-append" style="width: 20%;">
                                <button class="btn btn-outline-secondary button_search" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="categories">
                        <h2 style="font-size: 16px;border-bottom:1px solid rgba(248,109,114,.25);">Categories</h2>
                        <div style="margin-bottom: 30px" class="h2_gach"></div>
                        <ul>
                            {% for j in record_count_danhmuc %} {% for i in record_danhmuc %} {% if j[0] == i[0] %}
                            <li><a href="/shop?dm={{i[0]}}"> {{i[1]}} </a> ({{j[1]}})</li>
                            {% else: %}
                            <li><a href="/shop?dm={{i[0]}}"> {{i[1]}} </a> (0)</li> {% endif %} {% endfor %} {% endfor %}
                        </ul>
                    </div>
                    <div class="price">
                        <h2 style="font-size: 16px;border-bottom:1px solid rgba(248,109,114,.25);">Price</h2>
                        <div style="margin-bottom: 30px" class="h2_gach"></div>
                        <form name="mm" method="get" action="/shop">
                            <input type="number" name="min" placeholder="Min" />
                            <span>-</span>
                            <input type="number" name="max" placeholder="Max" />
                            <button class="btn btn-outline-secondary button_search" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <div class="designer">
                        <h2 style="font-size: 16px;border-bottom:1px solid rgba(248,109,114,.25);">Author</h2>
                        <div style="margin-bottom: 30px" class="h2_gach"></div>
                        <ul>
                            {% for j in record_count_tacgia %} {% for i in record_tacgia %} {% if j[0] == i[0] %}
                            <li><a href="/shop?tg={{i[0]}}"> {{i[1]}} </a> ({{j[1]}})</li>
                            {% else: %}
                            <li><a href="/shop?tg={{i[0]}}"> {{i[1]}} </a> (0)</li> {% endif %} {% endfor %} {% endfor %}
                        </ul>
                    </div>
                    <div class="sale">
                        <img src="../static/imgs/Image-1-2.jpg">
                    </div>
                    <div class="tags">
                        <h2 style="font-size: 16px;border-bottom:1px solid rgba(248,109,114,.25);">Tags</h2>
                        <div style="margin-bottom: 30px" class="h2_gach"></div>
                        <button class="btn btn-outline-secondary button_tags" type="button">classic</button>
                        <button class="btn btn-outline-secondary button_tags" type="button">kids</button>
                        <button class="btn btn-outline-secondary button_tags" type="button">classic</button>
                        <button class="btn btn-outline-secondary button_tags" type="button">classic</button>
                        <button class="btn btn-outline-secondary button_tags" type="button">classic</button>
                        <button class="btn btn-outline-secondary button_tags" type="button">kids</button>
                        <button class="btn btn-outline-secondary button_tags" type="button">classic</button>
                        <button class="btn btn-outline-secondary button_tags" type="button">classic</button>
                        <button class="btn btn-outline-secondary button_tags" type="button">classic</button>
                    </div>
                </div>
                <div class="col-xl-9 slide2_right">
                    {% for i in record %}
                    <div class="col-xl-4 new_product" style="float: left;height: 600px;">
                        <div class="img_product">
                            <img src="{{i[10]}}" class="image_1" />
                            <div class="product_hover">
                                <img src="{{i[10]}}" class="image" />
                                <div class="product_hover_a">
                                    <a href="#"><i class="fas fa-cart-arrow-down a"></i></a>
                                    <a href="/product?id_sach={{i[0]}}"><i class="fas fa-search a"></i></a>
                                    <a href="#"><i class="far fa-heart a"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="contact_product">
                            <a href="/product?id_sach={{i[0]}}">{{i[1]}}</a>
                            <h3><i>by</i> <a href="/shop?tg={{i[2]}}"> {{i[9]}}</a></h3>
                            <p>${{i[3]}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="sectional slide7">
        <div class="container-fluid" style="padding: 0 80px">
            <div class="col-xl-3 slide7_content">
                <div class="new_arrivals h2">
                    <h2 style="font-size: 16px;">Contact Us</h2>
                    <div style="margin-bottom: 20px" class="h2_gach"></div>
                </div>
                <div class="slide7-content">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>1998 Wall Street 707, Washington DC, USA</p>
                </div>
                <div class="slide7-content">
                    <i class="far fa-envelope"></i>
                    <p> bookmart@domain.com<br/> support@gmail.com
                    </p>
                </div>
                <div class="slide7-content">
                    <i class="fas fa-mobile-alt"></i>
                    <p> ( 84) 0123 456 789<br/> ( 84) 00123 456 789</p>
                </div>
            </div>
            <div class="col-xl-3 slide7_content">
                <div class="new_arrivals h2">
                    <h2 style="font-size: 16px;">Information</h2>
                    <div style="margin-bottom: 20px" class="h2_gach"></div>
                </div>
                <div class="slide7-content" style="margin-bottom: 15px">
                    <a href="#">Contact Us</a>
                </div>
                <div class="slide7-content" style="margin-bottom: 15px">
                    <a href="#">Site Map</a>
                </div>
                <div class="slide7-content" style="margin-bottom: 15px">
                    <a href="#">Privacy Policy</a>
                </div>
                <div class="slide7-content" style="margin-bottom: 15px">
                    <a href="#">About Us</a>
                </div>
                <div class="slide7-content" style="margin-bottom: 15px">
                    <a href="#">Costumer Service</a>
                </div>
            </div>
            <div class="col-xl-3 slide7_content">
                <div class="new_arrivals h2">
                    <h2 style="font-size: 16px;">My Account</h2>
                    <div style="margin-bottom: 20px" class="h2_gach"></div>
                </div>
                <div class="slide7-content" style="margin-bottom: 15px">
                    <a href="#">Sign In</a>
                </div>
                <div class="slide7-content" style="margin-bottom: 15px">
                    <a href="#">View Cart</a>
                </div>
                <div class="slide7-content" style="margin-bottom: 15px">
                    <a href="#">My Wishtlist</a>
                </div>
                <div class="slide7-content" style="margin-bottom: 15px">
                    <a href="#">Track My Order</a>
                </div>
                <div class="slide7-content" style="margin-bottom: 15px">
                    <a href="#">Help</a>
                </div>
            </div>
            <div class="col-xl-3 slide7_content">
                <div class="new_arrivals h2">
                    <h2 style="font-size: 16px;">Instagram</h2>
                    <div style="margin-bottom: 20px" class="h2_gach"></div>
                </div>
                <div class="slide7_contact">
                    <img src="../static/imgs/Image-1-720x484.jpg" />
                    <img src="../static/imgs/Image-1-720x484.jpg" />
                    <img src="../static/imgs/Image-1-720x484.jpg" />
                </div>
                <div class="time">
                    7 Days A Week From 8.00 Am To 5 Pm
                </div>
                <div class="contact">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-invision"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>